* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 16px;
}

.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  border-bottom: 2px solid #D3D3D3;

  a {
    text-decoration: none;
    color: inherit;
  }

  .header__left,
  .header__right {
    a {
      padding: 0.5rem;
    }
  }

  .header__left {
    margin-right: auto;
  }

  .header__right {
    margin-left: auto;
  }
}

.gameBoard {
  width: 50vw;
  margin: 5rem auto;
  text-align: center;
  position: relative;
}

.row {
  display: flex;
  justify-content: center;
}

.square {
  width: 4rem;
  height: 4rem;
  margin: 3px;
  border: 2px solid #D3D3D3;
  font-size: 3rem;

  .row--guess-entered & {
    &--correct-position {
      background-color: rgb(106, 170, 100);
      color: #fff;
    }

    &--incorrect-position {
      background-color: rgb(201, 180, 88);
      color: #fff;
    }

    &--no-match {
      background-color: rgb(120, 124, 126);
      color: #fff;
    }
  }
}

.modal {
  background-color: #000;
  color: #fff;
  padding: 1rem;
  width: fit-content;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;

  &--fade-in {
    opacity: 1;
    transition: all 0.5s;
  }

  &--fade-out {
    opacity: 0;
    transition: all 0.5s;
  }
}

